/* Super-simple base styles to make everything not suck */
@import './reset.scss';
@import './typography.scss';

body {
    background: #999;
}

.app-container {
    display: block;
    position: relative;
}
